@fontFamily: 'Orbitron', sans-serif;
@headingFontSize: 90px;
@subheadingFontSize: 50px;
@textFontSize: 15px;

/*Styling for index.html*/
html{
    height: 112%;
    width: 100%;
    overflow: auto;
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    color: white;
}

.navMenu{
    display: block;
    .navIcon{
        width:5%;
        font-size: 60px;
        text-align: right;
        margin: 0px 0px 0px 95%;
    }
    .navIcon:hover{
        cursor: pointer;
    }
    .navList{
        width: 100%;
        text-align: right;
        height: auto;
        position: absolute;
        z-index: 100;
        ul{
            list-style-type: none;
            height: auto;
            margin: 0px;
            padding: 0px;
        }
        li{
            width: 15%;
            margin-left: 82%;
            padding: 1%;
            border: 2px solid gray;
            background-color: rgba(97, 97, 107, 0.562);
            text-align: right;
        }
        a{
            font-size: @textFontSize;
            font-family: @fontFamily;
            color: white;
            text-decoration: none;
        }
        a:hover{
            text-shadow: 0px 0px 20px white;
        }
    }
}

.hidden{
    display: none;
}

.mainPageHeading{
    text-align: center;
    font-family: @fontFamily;
    h1{
        font-size: @headingFontSize;
        letter-spacing: 5px;
        padding: 0px;
        margin: 10% 0px 0px 0px;
    }
    h6{
        font-size: @textFontSize;
        letter-spacing: 2px;
        margin-top: 10px;
    }
}

@iconFontSize: 150px;

.quizCategoriesDiv{
    width: 100%;
    margin-top: 75px;
    text-align: center;
    .quizCategoriesList{
        list-style-type: none;
        .quizCategoryOption{
            display: inline-block;
            text-align: center;
            width: 30%;
            span{
                font-size: @iconFontSize;
                margin-left: 0px;
            }
            a{
                text-decoration: none;
                font-family: @fontFamily;
                font-size: @textFontSize;
                color: white;
                padding: 15px 0;
            }
            a:hover{
                text-shadow: 0px 0px 25px white;
            }
        }

    }
}


/* Styling for quiz list pages*/
.pageHeading{
    text-align: center;
    h1{
        font-family: @fontFamily;
        font-size: @headingFontSize;
    }
}

.quizListing{
    width: 70%;
    margin-bottom: 50px;
    margin-left: 15%;
    border: 4px solid white;
    text-align: left;
    height: auto;
        ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        li{
            display: inline;
            vertical-align: middle;
        }
        .listImage{ 
            width: 5%;
            padding-right: 2%;
            .quizListImage{
                width: 100px;
                height: 100px;
                display: inline-block;
                margin-top: 3px;
                margin-left: 5px;
            }
        }
        .listDescription{
            font-family: @fontFamily;
            font-size: @textFontSize;
            text-align: left;
            dl{
                width: 45%;
                display: inline-block;
            }
            dt{
                font-size: @textFontSize + 6px;                    
                text-decoration: underline;
            }
        }
        .listStartBtn{
            text-align: right;
            margin-left: 3%;
            padding-left: 7%;
            button{
                display: inline-block;
                font-family: @fontFamily;
                font-size: @textFontSize;
                letter-spacing: 1px;
                padding: 5px;
                vertical-align: middle;
            }
            button:hover{
                cursor: pointer;
                box-shadow: 0px 0px 25px white;
            }
            button:disabled, button[disabled]{
                border: 1px solid #999999;
                background-color: #cccccc;
                color: #666666;
            }
        }        
    }
}


/* Styling for the quiz page*/
.quizInformation{ 
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    h1{
        font-family: @fontFamily;
        font-size: @subheadingFontSize;
    }
}

#questionBox{
    width: 70%;
    margin-top: 150px;
    margin-bottom: 200px; 
    margin-left: 12%;
    padding: 3%;
    font-family: @fontFamily;
    font-size: @textFontSize;
    letter-spacing: 2px;
    text-align: center;
    border: 3px white solid;
    background-color: rgba(24, 24, 90, 0.445);
    p{
        font-family: @fontFamily;
        font-size: @subheadingFontSize/2;
        margin: 0 0 20px 0;
    }
    input{
        width: 50%;
        background-color: transparent;
        color: white;
        border: 2px white solid;
        font-family: @fontFamily;
        font-size: @textFontSize;  
        letter-spacing: 3px; 
        padding: 15px;
        margin-bottom: 20px;
    }
    input:focus{
        outline: none;
    }
}

.rulesBox{
    width: 70%;
    margin-top: 150px;
    margin-bottom: 200px; 
    margin-left: 12%;
    padding: 3%;
    font-family: @fontFamily;
    font-size: @textFontSize;
    letter-spacing: 2px;
    text-align: center;
    border: 3px white solid;
    h3{
        text-decoration: underline;
        padding-bottom: 5px;
    }
    button{
        font-family: @fontFamily;
        font-size: @textFontSize + 10px;
        margin-top: 15px;
    }
    button:hover{
        cursor: pointer;
        box-shadow: 0px 0px 25px white;;
    }
}

.quizBoard{
    width: 80%;
    margin-left: 10%;
    .quizTable{
        width: 100%;
        border: 5px solid white;
        border-collapse: collapse;
        text-align: center;
        th, td {
            border: 3px solid white;
            height: 100px;
        }
        th{
            font-family: @fontFamily;
            font-size: @textFontSize + 10px;
        }
        td{
            font-family: @fontFamily;
            font-size: @subheadingFontSize - 20px;
            width: 16.6%;
        }
        td:hover{
            background-color: rgba(49, 49, 214, 0.445);
            cursor: pointer;
        }
    }
}

.unselectable:hover{
    cursor: none !important;
}

footer{
    width: 100%;
    margin-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    .homeNavFooter{
        font-family: @fontFamily;
        text-decoration: none;
        color: white;
    }
}